<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title><%= pageTitle %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">

  	<meta name="theme-color" content="#fafafa">
</head>

<body>
	<nav class="main-navbar">
		<!-- Hamburger Menu -->
		<div id="hamburger-menu" class="main-navbar__hamburger-menu">
			<div class="main-navbar__hamburger-menu-line"></div>
			<div class="main-navbar__hamburger-menu-line"></div>
			<div class="main-navbar__hamburger-menu-line"></div>
		</div>

		<!-- Navigation Menu -->
		<div id="navigation-menu" class="main-navbar__nav-menu">
			<!-- Close Button -->
			<div id="close" class="main-navbar__nav-menu-close">
				<div class="main-navbar__nav-menu-close-line"></div>
				<div class="main-navbar__nav-menu-close-line"></div>
			</div>

			<!-- Menu Items -->
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Profile
				</a>
			</p>
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Top Artists
				</a>
			</p>
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Top Tracks
				</a>
			</p>
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Playlists
				</a>
			</p>
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Recently Played
				</a>
			</p>
			<p class="main-navbar__nav-menu-item">
				<a class="main-navbar__nav-menu-item-link" href="">
					Analysis
				</a>
			</p>
		</div>
	</nav>