<%- include('partials/header') %>
	<main class="analysis">
		<!-- Header -->
		<div class="analysis__header-container">
			<h1 class="analysis__header">Analysis</h1>
		</div>

		<hr>

		<section class="analysis__container">
			
		</section>
	</main>
<%- include('partials/footer') %>