<%- include('partials/header') %>
	<main class="login">
		<h1>Hello</h1>
		<form action="/login" method="post">
			<button type="submit">Login to Spotify</button>
		</form>
	</main>
<%- include('partials/footer') %>
