<%- include('partials/header') %>
	<main class="playlists">
		<!-- Header -->
		<div class="playlists__header-container">
			<h1 class="playlists__header">Playlists</h1>
		</div>

		<hr>

		<section class="playlists__container">
			
		</section>
	</main>
<%- include('partials/footer') %>