<%- include('partials/header') %>
	<main class="recent">
		<!-- Header -->
		<div class="recent__header-container">
			<h1 class="recent__header">Recently Played</h1>
		</div>

		<hr>

		<section class="recent__container">
			
		</section>
	</main>
<%- include('partials/footer') %>